.Search-Content{
    height: auto;
    display: flex;
    flex-direction: column;
}

.Search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.contentCards{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
